body{
    font-family: Outfit, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url(assets/banner.jpg);
    background-size: cover;
    background-position: center bottom;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .logo{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #6b92fd;
}

#menu{
    display: none;
}

.menu-icon {
    width: 28px;
    height: 28px;
    color: rgb(255, 255, 255);
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
    color: rgb(255, 255, 255);
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 1px;
    color: #abcdff;
}

.header-content h3{ 
    font-size: 25px;
    margin-bottom: 30px;
    color: #f7deff;;
}

.header-content p{
    font-size: 20px;
    color: #f7f6f6;
    margin-bottom: 30px;
    padding: 0 250px;
}

.btn-1{
    display: inline-block;
    padding: 10px 30px;
    background: #f7deff;
    color: #000000;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-1:hover{
    background: #000000;
    color: #f7deff;
}

.artist{
    padding: 100px 0;
    background-color: #000000;  
    position: relative;
}

.artist-content{
    text-align: center;
}

.artist-content h2{
    font-size: 40px;
    color: #f7deff;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 20px;
    color: rgb(255, 255, 255);;
    padding: 0 250px;
    margin-bottom: 55px;
}

.artist-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 150px;
}

.artists-1{
    padding: 0 25px;
    text-align: center;
}

.artists-1 img{
    width: 180px;
    height: 190px;
    border-radius: 50%;
}

.artists-1 img:hover{
    transform: scale(1.05);
    box-shadow: #7d99e7 0px 3px 10px;
    filter: brightness(90%);
}

.artists-1 h3{
    font-size: 20px;
    text-align: center;
    color: #7d99e7;
    margin-top: 15px;
    margin-bottom: 50px;
}

.notes-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}

.discography{
    display: flex;
}

.discography-1{
    padding: 50px 100px 50px 100px;
    width: 50%;
    background-color: #161616;
}

.discography-2, .discography-3{ 
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.discography-2 img, .discography-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discography-1 h2{
    font-size: 30px;
    color: #7d99e7;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.discography-1 h3{
    font-size: 20px;
    color: #f7deff;
    margin-bottom: 15px;
}

.discography-1 p{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: justify;
}

.discography-1 h4{
    font-size: 1rem;
    color: #7d99e7;
    margin-bottom: 15px;
}

.album-highlight{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
}

.album-highlight img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.album-highlight ol li{
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 15px;
}

.album-highlight ol li strong{
    color: #778165;
}

.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media ul li a{
    border: solid 1px #ffffff;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
}

.social-media .spotify:hover{
    border: solid 1px #14bd30;
    color: #14bd30;
}

.social-media .apple:hover{
    border: solid 1px #eb1b48;
    color: #eb1b48;
}

.phrases{
    background-color: #000000;
    max-width: 100%; 
    padding: 60px; 
}

.phrases-title{
    font-size: 2rem;
    color: #f7deff;
    margin-bottom: 15px;
    text-align: center;
}   

.phrases-p{ 
    font-size: 1.2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}   

.phrases-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.phrases-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #51669e;
    box-shadow: #313131 0px 3px 10px;
    border-radius: 15px;
    text-align:start;
    width: 100%; 
    max-width: 450px; 
    min-height: 200px; 
    box-sizing: border-box;
}

.phrases-1:hover{
    transform: scale(1.05);
}

.phrases-1 img{
    width: 150px;
    margin: 15px;
}

.phrases-1 h2{
    font-size: 1.5rem;
    color: #ffffff;
    margin: 15px 0 0 0;
}

.phrases-1 h3{
    font-size: 1.2rem;
    color: #eeeeee;
    margin-bottom: 15px;
}

.phrases-1 p{
    font-size: 1rem;
    color: #000000;
    padding-right: 10px;
}

footer{
    text-align: center;
    background-color:#131213;
    color: #fff;
    padding: 20px;
    border-top: solid 4px #c194cf;
}

/* Parte responsiva */

@media (max-width: 991px){

    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #161616;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{    
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

    .artist{
        padding: 30px;
    }

    .artist-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .artist-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .notes-img{
        display: none;
    }

    .discography{
        flex-direction:column;
    }

    .discography-1{
        width: 100%;  
    }

    .discography-2, .discography-3{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .artist-group {
        flex-direction: column; 
        align-items: center;   
        padding: 0;            
    }

    .artists-1 {
        padding: 0; 
        align-content: center;
        text-align: center;
    }

    .artists-1 img {
        width: 150px; 
        height: 150px;
    }

    .artists-1 h3 {
        font-size: 18px; 
    }

    .social-media ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .social-media ul li{
        margin-bottom: 10px;
    }

    .phrases-1{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .phrases-1 img{
        padding: 0;
    }

    .phrases-1 h2{
        padding: 0;
        margin-top: 0;
    }
    
    .phrases-text{
        text-align: center;
        padding: 0 10px 20px 10px;
    }

}
